@import 'shared/fonts.css';
@import 'shared/grid.css';
@import 'shared/menu.css';
@import 'shared/buttons.css';
@import 'shared/variables.css';
@import 'shared/game.css';

html, body, #root{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    text-align: center;
}

:root {
    font-family: 'Varela Round', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Varela Round';
    
}

.row {
    display: flex;
}