@import 'shared/fonts.css';
@import 'shared/grid.css';
@import 'shared/menu.css';
@import 'shared/buttons.css';
@import 'shared/variables.css';
@import 'shared/game.css';

html, body, #root{
    width: 100vw;
    height: 100vh;
}

:root {
    font-family: 'Varula Round', Tahoma, Sans-Serif;
    font-size: 10px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.row {
    display: flex;
}